.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;    
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .cell {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: 2px solid #000;
    font-size: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #f2f2f2;
  }
  
  #message {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }
  body{
        background-image: url("https://wallpaperaccess.com/full/2078988.jpg");
    }

    a {
      display: inline-block;
      background-color: #6666ff;
      color: #fff;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      }